<div class="footer-container">
    <div class="footer-body">
        <div>
            <h3>
                Ma<span class="letter1">r</span>ce<span class="letter2">l</span>
            </h3>
        </div>
        <div>
            <span class="full-name"> © Marcel Dechant 2024</span>
        </div>
        <div>
            <div class="icons">
                <img src="assets/img/icons/git-button.png" alt="">
                <img src="assets/img/icons/Email-button.png" alt="">
                <img src="assets/img/icons/linkedin-button.png" alt="">
            </div>
        </div>
    </div>
    <div class="impressum">
        <p>
            <a [routerLink]="['/impressum']">{{ "footer.imprint" | translate }}</a>
        </p>
    </div>
</div>