.nav-bar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141d2f;
}

.nav-bar {
    width: 1440px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;



    .right-side {
        display: flex;
        gap: 29px;


        >a {
            text-decoration: none;
            color: #FFFFFF;
            font-size: 23px;

            &:hover {
                color: #00BEE8;
            }

        }

        a.active {
            color: #00BEE8;
        }
    }

    .left-side {
        font-size: 27px;
    }

    .letter1 {
        color: #4b47ff;
    }

    .letter2 {
        color: #00BEE8;
    }

}
.languageButtonBox{
    display: flex;
    align-items: center;
    gap: 3px;
}

.languageButton{
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
    padding: 0;
    &:hover {
      transition: ease-in-out 200ms;
      color: #00BEE8;
      cursor: pointer;
      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 26px;
        transition: ease-in-out 200ms;
      }
    }
  }