.contact-headline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
}

.headline-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.headline {
    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
        font-weight: 700;
        font-size: 90px;

    }
}

.leftline {
    flex-grow: 1;

}

.rightline {
    height: 0;
    border-style: solid;
    border-width: 2px;
    border-color: #1CE6B5;
    flex-grow: 1;
    margin-left: 10px;
}



.contact-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;


    .second-leftline {
        flex-grow: 1;
        height: 0;
        border-style: solid;
        border-width: 2px;
        border-color: #1CE6B6;
        margin-top: 20px;
        margin-right: 39px;

    }

    .second-rightline {
        flex-grow: 1;
    }

    .text-and-form {
        width: 1440px;
        display: flex;
        justify-content: space-between;

        .content-text {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 40%;


            .content-headline {
                display: flex;
                align-items: center;
                gap: 50px;


                h2 {
                    font-weight: 700;
                    font-size: 32px;
                }
            }
        }

        app-contact-form {
            width: 40%;
        }
    }
}

.svg-container {

    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    padding-bottom: 50px;

}

.circle-with-arrow {
    transition: fill 0.3s ease;

    &:hover {
        rect {
            stroke: #00BEE8;
        }

        path {
            fill: #00BEE8;
        }
    }
}

.shadow-box {
    position: relative;
    width: 0;
    height: 0;
    bottom: 143px;
    right: 111px;
    z-index: -1;
}

@media (max-width: 1270px) {
    .contact-container {
        overflow-x: clip;

        .second-leftline {
            margin-right: 10px;
        }

        .text-and-form {
            flex-direction: column;
            align-items: center;
            width: 43%;

            .content-text {
                width: auto;
            }

            app-contact-form {
                width: auto;
            }
        }
    }

    .shadow-box {
        bottom: -123px;
        right: 0px;
    }
}

@media (max-width: 760px) {
    .shadow-box {
        bottom: -33px;

    }
}

@media (max-width: 670px) {
    .contact-container {

        .text-and-form {
            width: 70%;
        }
    }
}

@media (max-width: 600px) {
    .headline {
        h1 {
            
            font-size: 60px;

        }
    }
    .shadow-box {
        bottom: -100px;

    }

}