<div class="sectionBody">

    <div class="header">
        <div class="leftline"></div>

        <div class="leftside">
            <div class="headline">
                <h1>Portfolio</h1>
            </div>
            <p>{{ "portfolio.exploreHtml" | translate }}
            </p>
        </div>
        <div class="rightline"></div>

    </div>

    <img class="green-shadow" src="assets/img/shadows/Purple shadow (4).png" alt="">

    <div class="content">
        <div class="projects">
            <div *ngFor="let codeProject of projectArray.hoverInfo" >
              <div [ngClass]="{'project': true, 'hovered': codeProject.showInfo}" 
                   (mouseenter)="codeProject.showInfo = true" 
                   (mouseleave)="codeProject.showInfo = false">
                <img src="assets/img/laptops/{{ codeProject.coverImg }}" alt="{{ codeProject.title }}">
                <div *ngIf="codeProject.showInfo" [ngClass]="info">
                  <img src="assets/img/laptops/{{ codeProject.bgImage }}" alt="{{ codeProject.title }}">
                  <div class="link-btn">
                    <a href="{{ codeProject.gitRepositories }}" target="_blank">
                      <button class="git-btn">Github</button>
                    </a>
                    <a href="{{ codeProject.liveTest }}" target="_blank">
                      <button style="background-color: #4b47ff">Live test</button>
                    </a>
                  </div>
                  <div class="info-text">
                    <b>{{ codeProject.title }}</b>
                    <span>{{ getSpanText(codeProject.title) }}</span>
                    <p>{{ codeProject.usedLanguage }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
    </div>
</div>
