<div class="sectionBody">

    <div class="header">

        <div class="leftside">

            <div class="headline">

                <div class="leftline"></div>

                <h1>Portfolio</h1>

            </div>

            <p>This page is a sample of my work! Scroll down to view <br> other projects
                I have developed.
            </p>

        </div>

        <img class="green-shadow" src="assets/img/shadows/Purple shadow (4).png" alt="">
    </div>


    <div class="content">
        <div class="programms">
            <img src="assets/img/laptops/Pollo loco.png" alt="">

        </div>
        <div class="programms">
            <img src="assets/img/laptops/Join.png" alt="">
        </div>
        <div class="programms">
            <img src="assets/img/laptops/Pokedex.png" alt="">
        </div>
        <!-- <div class="programms">
            <img src="assets/img/laptops/Simple CRM.png" alt="">
        </div> -->
    </div>
</div>
<!-- <div class="shadow-box">
    <img class="blue-shadow" src="assets/img/shadows/GReen shadow.png" alt="">
</div> -->