.firstsection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 122px;
    height: 600px;
    overflow: hidden;
    padding-bottom: 130px;

    .leftImg,
    .rightImg {
        position: relative;

    }

    .leftImg {
        left: 238px;
    }

    .rightImg {

        right: 100px;
    }

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    }

    .header {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
    }

}

button {
    cursor: pointer;
    margin-top: 30px;
    height: 58px;
    color: #FFFFFF;
    background-color: #00BEE8;
    font-size: 23px;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    border: 0;
    transition: transform 0.3s ease;
    transform-origin: top left;

    &:hover {
        background-color: #4B47FF;
        transform: scale(1.2);

    }
}

h2 {
    display: flex;
    justify-content: center;
    width: 100px;
    font-weight: 400;
    font-size: 80px;
    white-space: nowrap;
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);

}

h1 {
    font-size: 100px;
    white-space: nowrap;
    height: 149px;
}

h3 {
    font-weight: 400;
    font-size: 60px;
    white-space: nowrap;
    color: #4B47FF;
    height: 69px;
    padding-bottom: 35px;

}


.social-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.leftside {
    display: flex;
    align-items: center;
    gap: 40px;
    >p {
        font-size: 29px;
    }
}

.leftLine {
    height: 0;
    border-style: solid;
    border-width: 2px;
    border-color: #00BEE8;
    width: 100px;
}

.icons {
    display: flex;
    gap: 40px;
    align-items: center;

    >a {
        >img:hover {
            animation: rotate 1s linear 1;
            cursor: pointer;
        }
    }

    
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rightside {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 23px;
    height: 35px;
    justify-content: flex-end;
    animation: move-up-down 2s ease-in-out infinite;

    >p {

        padding-right: 100px;
        white-space: nowrap;
        writing-mode: vertical-rl
    }

    >img {
        width: 28px;
        padding-right: 100px;
    }
}


@keyframes move-up-down {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}