<div class="firstsection">
    <img class="leftImg" src="assets/img/shadows/Purple shadow.png" alt="">
    <div>
        <div class="header">
            <h2 [ngClass]="{ 'h2-deutsch': germanIsSelected }">{{ "firstsection.iAm" | translate }}</h2>

            <div>
                <h1>Marcel Dechant</h1>
                <h3>FRONTEND DEVELOPER</h3>

            </div>
        </div>
        <button  (click)="handleClick()">{{ "firstsection.buttonTalk" | translate }}</button>
    </div>

    <img class="rightImg" src="assets/img/shadows/Purple shadow (3).png" alt="">

</div>


<div class="social-container">
    <div class="leftside">
        <div class="leftLine"></div>
        <div class="icons">
            <a href="https://github.com/MarcelDechant" target="_blank">
                <img src="assets/img/icons/git-button.png" alt="">
            </a>
            <a href="#my-contact">
                <img src="assets/img/icons/Email-button.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/marcel-dechant-3ba214317/" target="_blank">
                <img src="assets/img/icons/linkedin-button.png" alt="">
            </a>

        </div>
        <p>Marcel.Dechant&#64;freenet.de</p>
    </div>
    <div class="rightside">
        <p>{{ "firstsection.scroll" | translate }} </p>
        <img src="assets/img/icons/arrow-down-line.png" alt="">
    </div>
</div>