<div class="my-skills-container">
    <div class="my-skill-section">
        <div class="leftside">
            <div class="linedown">
                <div><img src="assets/img/icons/JavScript.png" alt="">
                    <p>JavaScript</p>
                </div>
                <div><img src="assets/img/icons/Git.png" alt="">
                    <p>Git</p>
                </div>
                <div><img src="assets/img/icons/Scrum.png" alt="">
                    <p>Scrum</p>
                </div>
                <div><img src="assets/img/icons/Materialdesign.png" alt="">
                    <p>Material <br> designe </p>
                </div>
            </div>
            <div class="linedown">
                <div><img src="assets/img/icons/Angular.png" alt="">
                    <p>Angular</p>
                </div>
                <div><img src="assets/img/icons/Firebase.png" alt="">
                    <p>Firebase</p>
                </div>
                <div><img src="/assets/img/icons/Api.png" alt="">
                    <p>Rest-Api</p>
                </div>

            </div>
            <div class="linedown">
                <div><img src="assets/img/icons/Typescript.png" alt="">
                    <p>Typescript</p>
                </div>
                <div><img src="assets/img/icons/css.png" alt="">
                    <p>CSS</p>
                </div>

            </div>
            <div class="linedown">
                <div><img src="assets/img/icons/html.png" alt="">
                    <p>HTML</p>
                </div>
            </div>
        </div>
        <div class="rightside">
            <div>
                <h1>Skills</h1>
                <div class="rightline"></div>
            </div>
            <p>I have gained experience in building with various <br>
                frontend technologies and concepts.</p>
            <button (click)="handleClick()" >Get in touch</button>

        </div>
    </div>
</div>