<div class="about-me-container" id="about-me">
    <div class="aboutMe">
        <div class="aboutmeText">
            <h1>About me </h1>
            <div>
                <p>Hi, I am a Front-end developer based in München,
                    Germany(...) Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam ipsum quia enim,
                    explicabo rerum distinctio sit architecto quo blanditiis fugiat ex hic quisquam aliquid id,
                    doloremque veniam eum similique inventore?
                </p>
                <div class="info">
                    <div class="infoAboutme">
                        <img src="assets/img/icons/bulb.png" alt="">
                        <p>Some personal thing to share(...)Donec ut imperdiet felis. Fusce posuere erat eu urna
                            rhoncus, ac convallis elit eleifend. Curabitur sed mauris a justo posuere aliquet.

                        </p>
                    </div>
                    <div class="infoAboutme">
                        <img src="assets/img/icons/puzzle.png" alt="">
                        <p>Some personal thing to share(...)Donec ut imperdiet felis. Fusce posuere erat eu urna
                            rhoncus, ac convallis elit eleifend. Curabitur sed mauris a justo posuere aliquet.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="aboutmePicture">
            <img class="profil" src="assets/img/hero character photo.png" alt="">
            <img class="shadow" src="assets/img/shadows/Group 2.png" alt="">
        </div>
    </div>
    <div id="mySkills" class="vector-background">
        <img class="Vector" src="assets/img/Vector.png" alt="">
    </div>
</div>