.about-me-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.vector-background {
    position: absolute;
    top: 1490px;
    right: 0;
    width: 100vw;
    height: auto;
    z-index: 3;
    overflow-x: hidden;

}

.Vector {

    width: 100%;
}

.aboutMe {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.aboutmeText {

    width: 471px;

    margin-top: 120px;
    margin-left: 100px;

    >h1 {
        font-weight: 700;
        font-size: 89px;
    }

}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}

.infoAboutme {
    display: flex;
    align-items: center;

    >p {
        font-size: 14px;
        padding-left: 30px;
    }

    >img {
        width: 50px;
        height: 50px;
        margin-left: 30px;

    }
}

.aboutmePicture {
    position: relative;

    .profil {
        margin-top: 92px;
        width: 457px;
        height: 647px;
        position: relative;
        z-index: 2;
    }

    .shadow {

        height: 647px;
        position: absolute;
        top: 180px;
        left: -131px;
        z-index: 1;
    }
}

@media (max-width: 1270px) {
    .aboutMe {
        flex-direction: column-reverse;
        align-items: center;
    }

    .aboutmeText {
        position: relative;
        z-index: 4;
        margin: 0;
    }

    .aboutmePicture {
        margin-left: 121px;
    }

    .vector-background {

        top: 1512px;

    }
}

@media (max-width: 900px) {
    .vector-background {

        top: 1550px;

    }
}

@media (max-width: 766px) {
    .aboutmePicture {
        margin-left: 0;
    }
}

@media (max-width: 650px) {
    .aboutmePicture {
        .shadow {

            height: 600px;

        }

        .profil {

            height: 610px;
        }
    }
}

@media (max-width: 600px) {


    .vector-background {

        top: 1480px;

    }

    .aboutmeText {
        width: 347px;

        >h1 {
            font-weight: 700;
            font-size: 60px;
        }

    }
}

@media (max-width: 482px) {
    .aboutmePicture {
        .shadow {

            height: 431px;
            left: -57px;
            top: 152px;
        }

        .profil {
            width: 342px;
            height: 459px;
        }
    }

    .vector-background {

        top: 1363px;

    }
}

@media (max-width: 370px) {
    .aboutmePicture {
        .shadow {

            height: 344px;

        }

        .profil {
            width: 280px;
            height: 364px;
        }
    }

    .vector-background {

        top: 1315px;

    }

    .aboutmeText {
        width: 287px;

        >h1 {

            font-size: 50px;
        }

        >div {
            >p {
                font-size: 14px;
            }
        }
    }

}