.about-me-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.vector-background {
    position: absolute;
    top: 1598px;
    right: 0;
    width: 100vw;
    height: auto;
    z-index: 3;
    overflow-x: hidden;

}

.Vector {

    width: 100%;
}

.aboutMe {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.aboutmeText {

    width: 471px;

    margin-top: 120px;
    margin-left: 100px;

    >h1 {
        font-weight: 700;
        font-size: 89px;
    }

}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}

.infoAboutme {
    display: flex;
    align-items: center;

    >p {
        font-size: 14px;
        padding-left: 30px;
    }

    >img {
        width: 50px;
        height: 50px;
        margin-left: 30px;

    }
}

.aboutmePicture {
    position: relative;

    .profil {
        margin-top: 120px;

        width: 593px;
        height: 647px;
        position: relative;
        z-index: 2;
    }

    .shadow {

        height: 647px;
        position: absolute;
        top: 180px;
        left: -73px;
        z-index: 1;
    }
}

@media (max-width: 1270px) {
    .aboutMe {
        flex-direction: column-reverse;
        align-items: center;
    }

    .aboutmeText {
        position: relative;
        z-index: 4;
        margin: 0;
    }

    .aboutmePicture {
        margin-left: 121px;
    }

    .vector-background {

        top: 1652px;

    }
}

@media (max-width: 900px) {
    .vector-background {

        top: 1696px;

    }
}

@media (max-width: 766px) {
    .aboutmePicture {
        margin-left: 0;
    }
}

@media (max-width: 650px) {
    .aboutmePicture {
        .shadow {

            height: 600px;

        }

        .profil {
            width: 542px;
            height: 610px;
        }
    }
}

@media (max-width: 600px) {
    .aboutmePicture {
        .shadow {

            height: 500px;

        }

        .profil {
            width: 442px;
            height: 510px;
        }
    }

    .vector-background {

        top: 1575px;

    }

    .aboutmeText {
        width: 347px;

        >h1 {
            font-weight: 700;
            font-size: 60px;
        }

    }
}

@media (max-width: 482px) {
    .aboutmePicture {
        .shadow {

            height: 400px;

        }

        .profil {
            width: 342px;
            height: 380px;
        }
    }

    .vector-background {

        top: 1482px;

    }
}

@media (max-width: 370px) {
    .aboutmePicture {
        .shadow {

            height: 344px;

        }

        .profil {
            width: 280px;
            height: 318px;
        }
    }

    .vector-background {

        top: 1424px;

    }

    .aboutmeText {
        width: 287px;

        >h1 {

            font-size: 50px;
        }

        >div {
            >p {
                font-size: 14px;
            }
        }
    }

}