<div class="about-me-container" id="about-me">
    <div class="aboutMe">
        <div class="aboutmeText">
            <h1>{{ "aboutMe.headline" | translate }} </h1>
            <div>
                <p>{{ "aboutMe.introText" | translate }}
                </p>
                <div class="info">
                    <div class="infoAboutme">
                        <img src="assets/img/icons/bulb.png" alt="">
                        <p>{{ "aboutMe.firstText" | translate }}
                        </p>
                    </div>
                    <div class="infoAboutme">
                        <img src="assets/img/icons/puzzle.png" alt="">
                        <p>{{ "aboutMe.secondText" | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="aboutmePicture">
            <img class="profil" src="assets/img/hero character photo.png" alt="">
            <img class="shadow" src="assets/img/shadows/Group 2.png" alt="">
        </div>
    </div>
    <div  class="vector-background">
        <img class="Vector" src="assets/img/Vector.png" alt="">
    </div>
</div>