<div class="privat-container">
    <div class="privatPolicy">
        <h2 class="wp-block-heading">{{ "privatPolicy.headline" | translate}}</h2>
        <div class="generalText">
            <p>
                {{ "privatPolicy.generalText1" | translate}}
            </p>

            <p>
                {{ "privatPolicy.generalText2" | translate}}
            </p>

            <p>
                {{ "privatPolicy.generalText3" | translate}}
            </p>
        </div>
        <div class="structureBox">
            <p>{{ "privatPolicy.structure" | translate}}</p>

            <p>
                {{ "privatPolicy.structure1" | translate}}<br />
                {{ "privatPolicy.structure2" | translate}}<br />
                {{ "privatPolicy.structure3" | translate}}
            </p>
        </div>
        <h3 class="wp-block-heading">
            {{ "privatPolicy.informationHeadline" | translate}}
        </h3>

        <p>
            {{ "privatPolicy.informationText" | translate}}
        </p>
        <div class="contactDataBox">
            <p>Marcel Dechant</p>
            <p>Lindenstraße 4</p>
            <p>92256 Hahnbach</p>

            <p>Telefon: 015158853325<br />E-Mail: Marcel.Dechant&#64;freenet.de</p>
        </div>
        <h3 class="wp-block-heading"> {{ "privatPolicy.rightsHeadline" | translate}}</h3>

        <p>
            {{ "privatPolicy.rightsText1" | translate}}
        </p>

        <ul>
            <li>
                {{ "privatPolicy.rightsText2" | translate}}
            </li>

            <li>
                {{ "privatPolicy.rightsText3" | translate}}
            </li>

            <li>
                {{ "privatPolicy.rightsText4" | translate}}
            </li>

            <li>
                {{ "privatPolicy.rightsText5" | translate}}
            </li>

            <li>
                {{ "privatPolicy.rightsText6" | translate}}
            </li>
        </ul>

        <p>
            {{ "privatPolicy.rightsText7" | translate}}
        </p>

        <p>
            <strong>{{ "privatPolicy.rightsText8" | translate}}</strong>
        </p>

        <h3 class="wp-block-heading"> {{ "privatPolicy.dataProcessingHeadline" | translate}}</h3>

        <p>
            {{ "privatPolicy.dataProcessingText" | translate}}
        </p>
        <h4 class="jet-listing-dynamic-field__content">
            {{ "privatPolicy.contactHeadline" | translate}}
        </h4>
        <p>
            {{ "privatPolicy.contactText1" | translate}}
        </p>
        <p>{{ "privatPolicy.contactText2" | translate}}</p>
        <p>
            {{ "privatPolicy.contactText3" | translate}}
        </p>

        <p class="namingBox">
            {{ 'privatPolicy.source' | translate }} <a href="https://www.adsimple.de/datenschutz-generator/"
                target="_blank" style="text-decoration: none;">AdSimple</a>
        </p>
    </div>
</div>