@import 'fonts';

* {
    padding: 0;
    margin: 0; 
    scroll-behavior: smooth;
    color: #FFFFFF;
}

html {
    background-color: #141D2F;
    font-family: 'Poppins', sans-serif;
    cursor: default;
    
}


.nav-bar-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100px;
   
  }


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #00bee8;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background: #2f3297;
}


@-moz-document url-prefix() {
    html {
        scrollbar-width: thin;
        scrollbar-color: #00bee8 transparent;
    }

    html:hover {
        scrollbar-color: #2f3297 transparent;
    }
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }