<div class="container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name"
            placeholder="{{ 'contact.placeholderName' | translate }}" required autocomplete="off">

        <div *ngIf="!name.valid && name.touched && !name.disabled">
            <span>{{ "contact.nameRequired" | translate }}</span>
        </div>

        <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email"
            placeholder="{{ 'contact.placeholderEmail' | translate }}" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            autocomplete="off">

        <div *ngIf="!email.valid && email.touched && !email.disabled">
            <span>{{ "contact.emailRequired" | translate }}</span>
        </div>

        <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" id="message" name="message"
            placeholder="{{ 'contact.placeholderMessage' | translate }}" style="height:200px" required></textarea>

        <div *ngIf="!message.valid && message.touched && !message.disabled">
            <span>{{ "contact.messageRequired" | translate }}</span>
        </div>

        <div>
            <input type="checkbox" id="terms" name="terms" required [(ngModel)]="contactData.terms"> 
            <label for="terms" class="checkbox-label">{{ "contact.privatPolicyFirst" | translate }} <a [routerLink]="['/privacy']">{{ "contact.privatPolicyLink" | translate }}</a> {{ "contact.privatPolicySecond" | translate }}</label>
            <div *ngIf="contactForm.controls['terms'] && !contactForm.controls['terms'].valid && contactForm.controls['terms'].touched">
                <span>{{ "contact.acceptPP" | translate }}</span>
            </div>
        </div>

        <div class="button-form">
            <input type="submit" value="{{ 'contact.button' | translate }}" [disabled]="!contactForm.valid">
        </div>

    </form>
    <div *ngIf="emailSent"  class="email-popup">
        {{ "contact.successMessage" | translate }}
      </div>
</div>